.game {
  position: absolute;
  width: 50vw;
  height: 450px;
  text-align: center;
  transform: scale(0);
  font-size: 2rem;
  transition: all 2s ease;

  p {
    padding: 1rem;
  }

  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    transition: all 0.3s ease;
  }
}

button {
  background: none;
  outline: 2px solid black;
  padding: 1rem;
  font-size: 2rem;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    outline: 2px solid white;
    transition: all 0.3s ease;
  }
}

.game-over {
  position: absolute;
  transform: scale(0);
  transition: all 2s ease;
  font-size: 2rem;
  text-align: center;
  gap: 2rem;

  p {
    padding: 0.5rem;
  }
}
